## Last commit: 2017-10-28 16:10:19 UTC by lab
version 17.1R2.7;
system {
    host-name vMX-1;
    root-authentication {
        encrypted-password "$6$USoxG8Pa$1C4cTJIduD/TQl4YimUFPcH9qxmaEW2hbMVcZ.UMMHWxiT.aWDzbyssxiWSCFamsxvxlJqGiRePDP6T67fq8U0"; ## SECRET-DATA
    }
    scripts {
        language python;
    }
    login {
        user lab {
            full-name "Lab user";
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$4UdNQUaA$2JCxTx1xGCdbNRsDws/JsAspMhCQTQp12L3okBtsWa.GYdtfwE9eKefLfUSjqS8DdfGwI8XH37Ob9E.DcfYvT0"; ## SECRET-DATA
            }
        }
    }
    services {
        ssh;
        telnet;
        extension-service {
            request-response {
                grpc {                  
                    clear-text {
                        address 10.254.0.41;
                    }
                    max-connections 8;
                }
            }
        }
        netconf {
            ssh;
        }
    }
    syslog {
        user * {
            any emergency;
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
    inactive: extensions {
        extension-service {
            application {
                file myInterfaces.py {  
                    username lab;
                }
            }
        }
    }
}
chassis {
    fpc 0 {
        lite-mode;
    }
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                address 10.1.0.111/24;
            }
        }
    }
    ge-0/0/1 {
        unit 0 {
            family inet {
                address 10.2.0.111/24;
            }
        }
    }
    fxp0 {                              
        unit 0 {
            family inet {
                address 10.254.0.41/24;
            }
        }
    }
}
